/* Reset básico para todos os elementos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Remove os estilos padrão das listas não ordenadas */
ul {
	list-style: none;
}

/* Remove a decoração padrão dos links */
a {
	text-decoration: none;
}

/* Adiciona um scroll suave */
html {
    scroll-behavior: smooth;
}
